<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body background="">
    <table width=100%>
        <tr>
            <td width=10%>
            </td>
            <td width=30%>
                <h1>FORM VALIDATION</h1>
            </td>
            <td width=50%></td>
            <td width=10%></td>
        </tr>

        <tr>
            <td width=10%></td>
            <td width=30%>
                <h2>Job application:</h2>
                <p>Fill out applications neatly and completely. <br>
                    Make sure that your application creates a good <br>
                    impression by answering all the employer's questions.</p>
                <a href="Job.html"> <button>Apply now</button></a>
            </td>
            <td width=50%>
                <a href="pizzaorder.html"><img src="../../../resources/images/pizza.png" alt="Pizza" width="300"
                        height="150"></a>
            </td>
            <td width=10%></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a href="Feedback.html">
                    <h2> Feed Back</h2>
                </a>
            </td>
            <td>
                <a href="pizzaorder.html#pizza">
                    <h3>Go pizza delivery</h3>
                </a>
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <a href="lifeHacks.html">
                    <h2>Life hacks</h2>
                </a>
            </td>
            <td>

            </td>
        </tr>

    </table>
</body>

</html>