<!DOCTYPE html>
<html>
    <head>
        <title>
            Pizza Order and delivery
        </title>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
    </head>
<body>

    <table bgcolor="orange" width=100%>
        <tr>
        <td width=10%></td>
        <td width=30% >
            <img src="../../../resources/images/pizza.png" alt="pizza" width="70" height="70">
        </td>
        <td width=50%>
            <h1> Pizza Delivery online </h1>
        </td>
        <td width=10%><a href="#pizza">Pizza Delivery</a></td>
    </tr>
    <tr></tr>
    <tr></tr>
    </table>
    <hr size="3px" color="black">
    <table width=100%>
    <tr>
    <td width=10%></td>
    <td width=60%><h1>Reservation Request</h1></td>
    <td width=30%></td>
    </tr>
    <td></td>
    <td width=60%>
        <fieldset>
            <legend><font color=blue>  General information</font></legend>
             <label for="date">Arrival date</label>
             <input type="number" name="date" required>
             <br><br>
             <label for="Night">Night</label>
             <input type="number" name="Night" required>
             <br><br>
             <label for="adult">Adult</label>
             <select name="adult" id="adult">
                 <option value="one">1</option>
                 <option value="two">2</option>
                 <option value="three">3</option>
                 <option value="fout">4</option>
                 <option value="five">5</option>
             </select>
             <br><br>
             <label for="adult">children</label>
             <select name="adult" id="adult">
                <option value="0">0</option>
                <option value="one">1</option>
                <option value="two">2</option>
                <option value="three">3</option>
                <option value="fout">4</option>
                <option value="five">5</option>
            </select>
        </fieldset>
    </td>
    <td></td>
    <tr>
        <td></td>
        <td>
            <form action="#">
            <fieldset>
                <legend><font color=blue>  Preferences</font></legend>
                 <label for="room">Room type</label>                 
                 <input type="radio" name="room">
                 <label for="room">Standard</label>
                 <input type="radio" name="room" >
                 <label for="room">Business</label>
                 <input type="radio" name="room" >
                 <label for="room">Suit</label>
                 <br><br>
                 <label for="Bed">Bed type</label>                 
                 <input type="radio" name="Bed" >
                 <label for="Bed">King</label>
                 <input type="radio" name="Bed" >
                 <label for="Bed">Double Double</label>
                 <br><br>
                 <input type="checkbox" name="smoke" >
                 <label for="smoke">Smoking</label>
            </fieldset>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <fieldset>
                <legend><font color=blue> Contact information</font></legend>
                 <label for="name">Name </label>
                 <input type="text" name="name" required>
                 <br><br>
                 <label for="Email">Email</label>
                 <input type="email" name="Email" placeholder="jk23@gamil.com" required>
                 <br><br>
                 <label for="Phone">Phone</label>
                <input type="tel" name="Phone" id="tel" placeholder="+252-942-563-730" pattern="">
                 <br>
            </fieldset>
            <br>
            <button name="submit" > Submit Reservation</button>&nbsp;&nbsp;&nbsp;
            <button name="submit"> clear</button>
        </form>
        </td>
    </tr>
    </table>


    <table  width=100% id="pizza">
        <tr>
        <td width=10%></td>
        <td width=30% >
            <img src="../../../resources/images/pizza.png" alt="pizza" width="70" height="70">
        </td>
        <td width=50%>
            <h1> Pizza Delivery</h1>
        </td>
        <td width=10%></td>
    </tr>
    <tr></tr>
    <tr></tr>
</table>

    <table>
    <tr>
        <td width=10%></td>
        <td  width=80% align="center"> <h2>Online Order Form</h2>
        </td>
        <td width=10%></td>
        <td>
    </tr>
    <tr>
        <td width = "24%">

        </td>
        <td width = "">
        <form action="#" method="post">
          <table>
            <tr>
                <td align = "right" >
                    <label for="Name">Name: </label><br>
                    <label for="address">Address: </label><br>
                    <label for="Town">Town City: </label><br>
                    <label for="postcode">Postcode: </label>
                </td>
                <td>
                    <input type="text" name="Name" id="Full_Name" size="30" required><br>
                    <input type="text" name="address" id="address" size="30" required><br>
                    <input type="text" name="city" id="town" size=30 max="4" min="15" required><br>
                    <input type="number"   minlength=3 maxlength="10" required>
                </td>
                <td align = "right" valign = "top">
                    <label for="email">Email: </label><br>
                    <label for="tele">Tel:</label><br>
                </td>
                <td valign = "top">
                    <input type="tel" name="tele" id="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required><br>
                    <input type="email" name="email" id="E-mail" pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/;" required><br>
                </td>                                  
            </tr>
          </table>
            
        </form>
        </td>
         </tr>
    </table>
    <br><br>
    <table>
        <tr>
            <td width = "45%">
 
            </td>
            <td width = "35%">
 
            </td>
            <td >
             <h4><ul>
                 <li>required fields</li>
             </ul></h4>
            </td>
        </tr>
    </table>
   <table width=100%>
       <tr>
           <td width=20%%></td>
           <td width=10% cellpadding=20>
               <fieldset>
                   <legend>Topping</legend>
                   <input type="radio" name="chioce"><label for="chioce">Margherita</label><br><br>
                   <input type="radio" name="chioce"><label for="chioce">Four Seasons</label><br><br>
                   <input type="radio" name="chioce"><label for="chioce">Meat Feast</label><br><br>
               </fieldset>
           </td>
           <td width=10% cellpadding=20>
            <fieldset>
                <legend>Size</legend>
                <input type="radio" name="chioce"><label for="chioce">Small</label><br><br>
                <input type="radio" name="chioce"><label for="chioce">Mediums</label><br><br>
                <input type="radio" name="chioce"><label for="chioce">Large</label><br><br>
            </fieldset>
        </td>
        <td width=15% cellpadding=20>
            <fieldset>
                <legend>Topping</legend>
                <input type="radio" name="chioce"><label for="chioce">Mushrooms</label><br><br>
                <input type="radio" name="chioce"><label for="chioce">Green peppers</label><br><br>
                <input type="radio" name="chioce"><label for="chioce">Anchovies</label><br><br>
                <input type="radio" name="chioce"><label for="chioce">Exttra cheeses</label><br><br>
            </fieldset>
        </td>
        <td width=30%></td>
        <tr>
            <td></td>
            <td colspan="3">
                <label for="time">Perferred delivery name</label>
                <input type="time" name="time" id="time"><br>
                    <label for="ins">Delivery Instruction or Address</label><br>
                    <textarea name="ins" id="" cols="30" rows="10"></textarea><br>

                    <input type="submit" name="submit" id="submit" placeholder="Submit order">
                </p>
            </td>
        </tr>
       </tr>

   </table>

   
   
</body>
</html>