<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Drawing shapes using SVG</title>
        <style> svg {border: 2px solid black;} </style>

    </head>
    <body>
        <table cellspacing="150px" cellpadding="10px">
            <tr align="center">
                <td>
                    <h3>SVG Line</h3>
                    <svg width="200" height="200">
                        <line x1="25" y1="25" x2="180" y2="180"
                            stroke="green" strokewidth="4"/>
                    </svg>
                </td>
            </tr>
            <tr align="center">
                <td>
                    <h3>SVG Rectangle</h3>
                    <svg height="200" width="250">
                        <rect x="15" y="15" rx="15" ry="15" width="210" height="160"
                            style="fill:rgb(255, 174, 0); stroke: rgb(119, 0, 255); stroke-width: 5;"/>
                    </svg>
                </td>
            </tr>
            <tr align="center">
                <td>
                    <h3>SVG Rounded Rectangle</h3>
                    <svg height="200" width="250">
                        <rect x="15" y="15" rx="50" ry="50" width="210" height="160"
                            style="fill: rgb(0, 109, 128); stroke: rgb(130, 0, 87); stroke-width: 5; opacity: 0.5;"/>
                    </svg>
                </td>
            </tr>
            <tr align="center">
                <td>
                    <h3>SVG Circle</h3>
                    <svg width="200" height="200">
                        <circle cx="100" cy="100" r="80" 
                            style="fill: rgb(214, 228, 23); stroke: rgb(130, 0, 0); stroke-width: 4;">
                    </svg>
                </td>
            </tr>
            <tr align="center">
                <td>
                    <h3>SVG Polygon</h3>
                    <svg height="200" width="200">
                        <polygon points="100,15 30,180 185,70 20,70 170,180"
                            style="fill: rgba(19, 32, 221, 0.979); stroke: rgb(130, 0, 72); stroke-width: 5; fill-rule:nonzero;"/>
                    </svg>
                </td>
            </tr>
            <tr align="center">
                <td>
                    <h3>SVG Logo Using Eclipse</h3>
                    <svg height="200" width="250">
                        <ellipse cx="120" cy="100" rx="110" ry="70" fill="url(#grad1)"/>
                        <text fill ="#ffffff" font-size="45" font-family="Verdana"
                            x="70" y="110">SVG</text>
                        <defs>
                            <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                                <stop offset="0%" style="stop-color: rgb(255, 123, 0);stop-opacity: 1;"/>
                                <stop offset="100%" style="stop-color: rgb(0, 60, 255); stop-opacity: 1;"/>
                            </linearGradient>
                        </defs>
                    </svg>
                </td>
            </tr>

        </table>

    </body>
</html>